.NewsContainerlist{
    background-color: #ffffff;
    width: 100%;
    min-height: 600px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.NewsThemesContainer{
    display: flex;
    flex-direction: column;
}