.NewsContainerlist{
    background-color: #ffffff;
    width: 80%;
    min-height: 600px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.PostContainer{
    background-color: #ffffff;
    width: 80%;
    max-width: 95%;
    min-height: 500px;
    padding: 40px;
}
h2{
    font-size: 52px;
    margin: 2% 0 2% 0;
    width: 100%;
    overflow-x: hidden;
    word-break: break-all;
}
.HeaderContainer{
    width: 100%;
    display: flex;
    align-items: center;
}
.PostTextContainer{
    height: fit-content;
    min-height: 200px;
    width: 100%;
    border:solid black ;
    border-width: 2px;
    border-radius: 20px;
    padding: 0 10px 0 10px;
    box-shadow: 10px 10px 0px rgba(0,0,0,0.25);
    text-indent: 20px;
    font-size: 18px;
}
.comment{
    width: 99%;
    resize: none;
    border-radius: 20px;
    font-size: 18px;
    padding: 5px;
    height: 200px;
    border-radius: 20px;
    text-align:left;
}
.CommContainer{
    margin-top: 20px;
    height: 200px;
    border-radius: 20px;
}
.CommContainer{
    background-color:#F1F1F1;
    border-radius: 20px;
}
.UserContainer{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border-radius: 20px 20px 0 0 ;
    padding: 10px;
    height: 35%;
    width: 100%;
    background-color: #DFDFDF;
}
.CommLabel{ 
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border-radius: 20px 20px 0 0 ;
    padding: 5px 10px 5px 10px;
    height: 35%;
    width: 100%;
    margin: 0;
}
.BackButt{
    width: 5%;
    height: 40px;
    border-color: transparent;
    background-color: #dddddd;
    color: #6e6e6e;
    border-radius: 50px;
    margin-right: 10px;
}
.BackButt:hover{
    cursor: pointer;
    background-color: #aaaaaa;
}
.BackButt:active{
    background-color: #cccccc;
}
.OstavComm{
    border-radius: 10px;
    margin-top: 5px;
    margin-left: 10px;
    height: 50px;
    width: 12%;
    font-size: 16px;
    align-self:flex-end;
    background-color: transparent;
}
.NewCommentsContainer{
    display: flex;
    flex-direction: column;
}
.buttContainers{
    display: flex;
    justify-content: flex-end;
}
.h2lol{
    font-size: 48px;
}
.PostHeader{
    width: 50%;
    font-size: 30px;
}
.formidk {
    margin-top: 15px;
    font-size: 24px;
    width: 50%;
}
.commentari{
    margin-top: 15px;
    height: 150px;
    width: 1100px;
    resize: none;
    text-indent: 20px;
    font-size: 20px;
}
.CommentItem{
    margin-bottom: 15px;
    background-color: #F1F1F1;
    border-radius: 20px 20px 20px 0;
}
.gege{
    margin: 20px 0 20px 0;
}
#AddPostBtn{
    background:transparent;
    font-size: 16px;
}
#AddPostBtn:hover{
    background-color: rgba(0,0,0,0.2);
    cursor: pointer;
}
#AddPostBtn:active{
    background-color: rgba(0,0,0,0.3);
    cursor: pointer;
}
.buttContainers{
    margin-top: 8px;
}
.ThemesRedactorContainer{
    display: flex;
    justify-content: space-between;
    width: 40%;
}
.RedacThemes{
    display: flex;
    flex-direction: column;
}
.DelThemes{
    display: flex;
    flex-direction: column;
}
.ThemesBUTT{
    background-color: transparent;
    border-radius: 20px;
    border-width: 1px;
    margin-top: 5px;
    width: fit-content;
}
.CommentsList{
    display: flex;
    flex-direction: column-reverse;
}