{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/index.css'%}">
    <link rel="stylesheet" href="{% static 'css/PostListStyles.css'%}">
    <title>Пост "{{ post.head}}"</title>
</head>
<body>
    <div class="regPage">
        <div class="regMenu">
            <div class="regContainer">
                <button id="extBUTT" class="ExitButt" onclick="Goida()">X</button>
                <label class="regMenuRowLabel">Имя</label>
                <input class="NewUserInput" value="DanVoron">
                <label class="regMenuRowLabel" >Логин</label>
                <input class="NewUserInput" value="DanVoron">
                <label class="regMenuRowLabel">Пароль</label>
                <input class="NewUserInput" type="password" value="1234">
                <label class="regMenuRowLabel">Пароль ещё раз</label>
                <input class="NewUserInput" type="password" value="1234">
                <button id="RegButt">ПОДТВЕРДИТЬ</button>
            </div>
        </div>
    </div>
    <header>
        <img id="logo" src="{% static 'img\logoforsite.svg' %}" alt="logo">
        <div class="HeaderTextContainer">
            <div class="HeaderTextHolder">
                <label class="HeaderText">FORPS</label>
                <label class="NormalText">ДЕНЬГИ ТАЧКИ ТЕЛКИ</label>
            </div>

        </div>
    </header>
    <main>
    <div class="PostContainer">
        <button class="BackButt" onclick="document.location='{% url 'index' %}'">&lt;&lt;&lt;</button>
        <h2>{{ post.head }}</h2>
        <div class="PostTextContainer">
            <p>      {{ post.content }}</p>
        </div>
        <div class="NewCommentsContainer">
            <textarea  class="comment" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto eius maxime sed, dignissimos dicta quod, asperiores excepturi perspiciatis autem ratione alias hic earum voluptates ipsam minus ad cum quam natus.</textarea>
            <button class="OstavComm">Добавить комментарий</button>
        </div>
        <div class="CommContainer">
            <div class="UserContainer">
                <label class="UserLabel" >Пользователь <br></label>
            </div>
            <label class="CommLabel">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente, nam eum eligendi impedit numquam quod modi repellat commodi. Iste ea provident aperiam tenetur magnam officiis, quo fugiat ullam illo delectus assumenda repellendus omnis dolorum voluptates earum neque est saepe. Minus?</label>
        </div>
        <div class="CommContainer">
            <div class="UserContainer">
                <label class="UserLabel" >Пользователь <br></label>
            </div>
            <label class="CommLabel">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente, nam eum eligendi impedit numquam quod modi repellat commodi. Iste ea provident aperiam tenetur magnam officiis, quo fugiat ullam illo delectus assumenda repellendus omnis dolorum voluptates earum neque est saepe. Minus?</label>
        </div>
        <div class="CommContainer">
            <div class="UserContainer">
                <label class="UserLabel" >Пользователь <br></label>
            </div>
            <label class="CommLabel">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente, nam eum eligendi impedit numquam quod modi repellat commodi. Iste ea provident aperiam tenetur magnam officiis, quo fugiat ullam illo delectus assumenda repellendus omnis dolorum voluptates earum neque est saepe. Minus?</label>
        </div>
    </div>
    <div class="NewsThemesContainer">
        <div class="RegLogContaienr" >
            <label>Логин <br> <input type="text"  value="DanVoron"></label>
            <label>Пароль <br><input type="password" value="12345" p></label>
            <button class="AuthButt">Войти</button>
            <button class="AuthButt" onclick="Goida2()">Регистрация</button>
            <hr>
            </div>
            <p>Выберите тему:</p>
            <div class="ThemesContainer">
                <a class="archons" href="{% url 'coffee' %}" targer="_blank">Перейти на кофе</a>
                {%for i in topics%}
                <a class="archons" href="{% url 'coffee' %}" > {{i.name}}</a>
                {%endfor%}
            </div>
        </div>
    </div>
    </main>
    <footer>
        <p class="footertext">Copyright © 2024 Forps</p>
    </footer>
</body>
<script src="{% static 'JS/index.js' %}"></script>
</html>