{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{% static 'img\logoforsite.svg' %}">
    <link rel="stylesheet" href="{% static 'css/index.css'%}">
    <link rel="stylesheet" href="{% static 'css/PostListStyles.css'%}">
    <title>Пост "{{ post.head}}"</title>
</head>
<body>
    <div class="regPage">
        <div class="regMenu">
            <button id="extBUTT" class="ExitButt" onclick="Goida()">X</button>
                <form  method="post" action="" class="formstyle">
                {% csrf_token %}
                <label class="regMenuRowLabel">Имя</label>
                <input class="RegInput" type="text" name="Username" placeholder="Введите имя">
                <label class="regMenuRowLabel" >Логин</label>
                <input class="RegInput" type="text" name="Login" placeholder="Никнейм" >
                <label class="regMenuRowLabel">Пароль</label>
                <input class="RegInput" type="text" name="Password" placeholder="Пароль" >
                <button class="RegButt" id="RegButt" name="action" value="Reg">ПОДТВЕРДИТЬ</button>
                </form>
        </div>
    </div>
    <header>
        <a class="LogoAnchor" href="{% url 'index' %}"><img id="logo" src="{% static 'img\logoforsite.svg' %}" alt="logo"></a>
        <div class="HeaderTextContainer">
            <div class="HeaderTextHolder">
                <label class="HeaderText">FORPS</label>
                <label class="NormalText">ДЕНЬГИ – ХОРОШИЙ СЛУГА, НО ПЛОХОЙ ХОЗЯИН.</label>
            </div>

        </div>
    </header>
    <main>
    <div class="PostContainer">
        <div class="HeaderContainer">
            <button class="BackButt" onclick="document.location='{% url 'index' %}'">&lt;&lt;&lt;</button>
             <h2>{{ post.head }}</h2>
        </div>
        <div class="PostTextContainer">
            <p>{{ post.content }}</p>
        </div>
        {% if role_id is not None %}
        <form method="post" class="formidk">
            {% csrf_token %}
            <label>Оставить комментарий</label>
            <textarea name="content" class="commentari" placeholder="Комментарий"></textarea>
            <button type="submit" class="AddCommButt">Добавить комментарий</button>
        </form>
        {%endif%}

        {% if role_id is None %}
        <p class="gege">Чтоб оставлять комментарий войдите в аккаунт</p>
        {%endif%}
        <div class="CommentsList">
            {% for comment in comments %}
            <div class="CommentItem">
                <div class="UserContainer">
                    <label class="UserLabel">{{ comment.user.username }}</label>
                    <label class="timeShow">{{comment.publish_datetime | date:"d/m/Y H:i"}}</label>
                </div>
                <label class="CommLabel">{{ comment.content }}</label>
            </div>
            {% empty %}
            <p>Комментариев к этому посту еще нет.</p>
            {% endfor %}
        </div>
    </div>
    <div class="NewsThemesContainer">
        {% if role_id is None %}
        <div class="RegLogContaienr">
            <form  method="post" action="" class="formstyle">
                {% csrf_token %}
                <label>Логин <br> <input type="text" name="username" placeholder="Логин" ></label>
                <label>Пароль <br><input type="password" name="password" placeholder="Пароль" ></label>
                <div class="testing">
                    <button class="AuthButt"> Войти </button> 
                </div>
            </form>
            <div class="centerbutts">
                <button class="AuthButt" onclick="Goida2()">Регистрация</button>
            </div>
        </div>
        {% endif %}

        {% if role_id is not None %}
        <div class="UserQuitContainer">
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                {% if username %}
                <p>Добро пожаловать, <br> {{ username }}!</p>
                {% endif %}
                <button class="AuthButt userquitButt" type="submit">Выйти</button>
            </form>
        </div>
        {% endif %}

        <p><b>Выбрать тему:</b></p>
        <div class="ThemesContainer">
            {%for i in topics%}
            <a class="archons" href="{% url 'index_page_themed' i.pk %}" > {{i.name}}</a>
            {%endfor%}
        </div>
    </div>
    </main>
    <footer>
        <p class="footertext">Copyright © 2024 Forps</p>
    </footer>
</body>
<script src="{% static 'JS/index.js' %}"></script>
</html>