{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{% static 'img\logoforsite.svg' %}">
    <link rel="stylesheet" href="{% static 'css/index.css'%}">
    <link rel="stylesheet" href="{% static 'css/PostListStyles.css'%}">
    <title>Пост "{{post_head}}"</title>
</head>
<body>
    <div class="regPage">
        <div class="regMenu">
            <div class="regContainer">
                <button id="extBUTT" class="ExitButt" onclick="Goida()">X</button>
                <label class="regMenuRowLabel">Имя</label>
                <input class="NewUserInput" value="DanVoron">
                <label class="regMenuRowLabel" >Логин</label>
                <input class="NewUserInput" value="DanVoron">
                <label class="regMenuRowLabel">Пароль</label>
                <input class="NewUserInput" type="password" value="1234">
                <label class="regMenuRowLabel">Пароль ещё раз</label>
                <input class="NewUserInput" type="password" value="1234">
                <button id="RegButt">ПОДТВЕРДИТЬ</button>
            </div>
        </div>
    </div>
    <header>
        <a class="LogoAnchor" href="{% url 'index' %}"><img id="logo" src="{% static 'img\logoforsite.svg' %}" alt="logo"></a>
        <div class="HeaderTextContainer">
            <div class="HeaderTextHolder">
                <label class="HeaderText">FORPS</label>
                <label class="NormalText">ДЕНЬГИ– ХОРОШИЙ СЛУГА, НО ПЛОХОЙ ХОЗЯИН.</label>
            </div>

        </div>
    </header>
    <main>
    <div class="PostContainer">
        <div class="HeaderContainer">
            <button class="BackButt" onclick="document.location='{% url 'index' %}'">&lt;&lt;&lt;</button>
             <input type="text" value="{{ post_head }}" class="PostHeader">
        </div>
        <div class="NewCommentsContainer">
            <textarea  class="comment" >{{ post_content }}</textarea>
            <div class="buttContainers">
                <select name="pets" id="themes-select">
                    <option value="">{{ post_topic }}</option>
                    <option value="" disabled selected>Выберите тему</option>
                    {%for i in topics%}
                    <option class="archons"> {{i.name}}</option>
                    {%endfor%}
                  </select>
                <button class="OstavComm">Удалить пост</button>
                <button class="OstavComm">Изменить пост</button>
            </div>
        </div>
    </div>
    <div class="NewsThemesContainer">
        {% if role_id is None %}
        <div class="RegLogContaienr">
            <form  method="post" action="">
                {% csrf_token %}
                <label>Логин <br> <input type="text" name="username" placeholder="Логин" ></label>
                <label>Пароль <br><input type="password" name="password" placeholder="Пароль" ></label>
                <button class="AuthButt"> Войти </button>
                <button class="AuthButt" onclick="Goida2()">Регистрация</button>
            </form>
        </div>
        {% endif %}

        {% if role_id is not None %}
        <div class="UserQuitContainer">
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button class="AuthButt userquitButt" type="submit">Выйти</button>
            </form>
        </div>
        {% endif %}

        <p><b>Выбрать тему:</b></p>
        <div class="ThemesContainer">
            <a class="archons" href="{% url 'coffee' %}" target="_blank">Перейти на кофе</a>

            {%for i in topics%}
            <a class="archons" href="{% url 'index_page_themed' i.pk %}" > {{i.name}}</a>
            {%endfor%}
        </div>
    </div>
    </main>
    <footer>
        <p class="footertext">Copyright © 2024 Forps</p>
    </footer>
</body>
<script src="{% static 'JS/index.js' %}"></script>
</html>