{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{% static 'img\logoforsite.svg' %}">
    <link rel="stylesheet" href="{% static 'css/index.css'%}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forps</title>
</head>
<body>
    <div class="regPage">
        <div class="regMenu">
            <button id="extBUTT" class="ExitButt" onclick="Goida()">X</button>
                <form  method="post" action="" class="formstyle">
                {% csrf_token %}
                <label class="regMenuRowLabel">Имя</label>
                <input class="RegInput" type="text" name="Username" placeholder="Введите имя">
                <label class="regMenuRowLabel" >Логин</label>
                <input class="RegInput" type="text" name="Login" placeholder="Никнейм" >
                <label class="regMenuRowLabel">Пароль</label>
                <input class="RegInput" type="text" name="Password" placeholder="Пароль" >
                <button class="RegButt" id="RegButt" name="action" value="Reg">ПОДТВЕРДИТЬ</button>
                </form>
        </div>
    </div>
    <header>
        <a class="LogoAnchor" href="{% url 'index' %}"><img id="logo" src="{% static 'img\logoforsite.svg' %}" alt="logo"></a>
        <div class="HeaderTextContainer">
            <div class="HeaderTextHolder">
                <label class="HeaderText">FORPS</label>
                <label class="NormalText">ДЕНЬГИ – ХОРОШИЙ СЛУГА, НО ПЛОХОЙ ХОЗЯИН.</label>
            </div>

        </div>
    </header>
    <main>
        <div class="NewsContainer">
            {% if role_id == 2 %}
            <div class="AdminAddingButt">
                <button id="AddPostButt" onclick="location.href='{% url 'post_add' %}'">Добавить <br> новость</button>
                <p >Добро пожаловать, Админ!</p>
            </div>
            {% endif %}
            {% for i in data %}
            <div class="Posts">
                <a class="AMOGUS" href="{% url 'post_list' i.pk %}"><img id="News" src="{% static 'img\BUCKET.jpg' %}" alt="NewsPhoto"></a>
                <div class="NewsTextContaienr">
                    <div class="WhiteCubeGlav">
                        <a href="{% url 'post_list' i.pk %}">{{i.head}}</a>
                        <div class="PostAddButtsContainer">
                            {% if role_id == 2 %}
                            <button class="PostButts" onclick="location.href='{% url 'post_edit' i.pk %}'"> <img class="PostButtsPhotos" src="{% static 'img/ediit.svg' %}" alt="edit"></button>
                            <button class="PostButts" onclick="location.href='{% url 'delete_post' i.pk %}'"> <img class="PostButtsPhotos" src="{% static 'img/traaash.svg' %}" alt="del"></button>
                            {% endif %}
                            <label class="timeShow">{{i.publish_datetime| date:"d/m/Y H:i"}}</label>
                        </div>  
                        
                    </div>
                    <div class="WhiteCubeOpis" ><p class="PostText" maxlength="5">{{i.content}}</p></div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="NewsThemesContainer">
            {% if role_id is None %}
            <div class="RegLogContaienr">
                <form  method="post" action="" class="formstyle">
                    {% csrf_token %}
                    <label>Логин <br> <input type="text" name="username" placeholder="Логин" ></label>
                    <label>Пароль <br><input type="password" name="password" placeholder="Пароль" ></label>
                    <div class="testing">
                        <button class="AuthButt" name="action" value="Login"> Войти </button> 
                    </div>
                </form>
                <div class="centerbutts">
                    <button class="AuthButt" onclick="Goida2()" >Регистрация</button>
                </div>
            </div>
            {% endif %}

            {% if role_id is not None %}
            <div class="UserQuitContainer">
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <p>Добро пожаловать,<br> {{ username }}</p>
                    <button class="AuthButt userquitButt" type="submit">Выйти</button>
                </form>
            </div>
            {% endif %}

            <p><b>Выбрать тему:</b></p>
            <div class="ThemesContainer">
                {%for i in topics%}
                <a class="archons" href="{% url 'index_page_themed' i.pk %}" > {{i.name}}</a>
                {%endfor%}
            </div>
        </div>
    </main>
    <footer>
        <p class="footertext">Copyright © 2024 Forps</p>
    </footer>
</body>
<script src="{% static 'JS/index.js' %}"></script>
</html>