{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{% static 'img\Group 7.png' %}">
    <link rel="stylesheet" href="{% static 'css/index.css'%}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Classic Forps</title>
</head>
<body>
    <header>
        <img id="logo" src="{% static 'img\logoforsite.svg' %}" alt="logo">
        <div class="HeaderTextContainer">
            <div class="HeaderTextHolder">
                <label class="HeaderText">FORPS</label>
                <label class="NormalText">ДЕНЬГИ ТАЧКИ ТЕЛКИ</label>
            </div>

        </div>
    </header>
    <main>
        <div class="NewsContainer">
            {%for i in data%}


            <div class="Posts">
                <img id="News" src="{% static 'img\BUCKET.jpg' %}" alt="NewsPhoto">
                <div class="NewsTextContaienr">
                    <div class="WhiteCubeGlav"><a href="{% url 'post_list' i.pk %}">{{i.header}}</a></div>
                    <div class="WhiteCubeOpis"><p>{{i.text}}</p></div>
                </div>
            </div>
            {%endfor%}
        </div>
        <div class="NewsThemesContainer">
            <div class="RegLogContaienr" >
                <label>Логин <br> <input type="text"  value="DanVoron"></label>
                <label>Пароль <br><input type="password" value="12345" p></label>
                <button class="AuthButt">Войти</button>
                <button class="AuthButt">Регестрация</button>
            </div>
            <p>Выберите тему:</p>
            <div class="ThemesContainer">
                <a class="archons" href="{% url 'coffee' %}" targer="_blank">Перейти на кофе</a>
                <a class="archons" href="google.com" target="_blank">ДЕЬНГИ</a>
                <a class="archons" href="google.com" target="_blank">ТАЧКИ</a>
                <a class="archons" href="google.com" target="_blank">ТЕЛКИ</a>
                <a class="archons" href="google.com" target="_blank">Тема</a>
                <a class="archons" href="google.com" target="_blank">Тема</a>
                <a class="archons" href="google.com" target="_blank">GG</a>
                <a class="archons" href="google.com" target="_blank">Тема</a>
            </div>
        </div>
    </main>
    <footer>
        <p class="footertext">Copyright © 2024 Forps</p>
    </footer>
</body>
</html>